<!DOCTYPE html>
<!--[if IE 8]> <html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Everify | CheckOut</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="checkout/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="checkout/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="checkout/assets/css/style.min.css" rel="stylesheet" />
	<link href="checkout/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="checkout/assets/css/theme/default.css" id="theme" rel="stylesheet" />
	<link href="checkout/assets/css/animate.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="checkout/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="bg-silver" th:each="result: *{profile}">
<!-- BEGIN #page-container -->
<div id="page-container" class="fade">
	<!-- BEGIN #top-nav -->

	<!-- END #top-nav -->

	<!-- BEGIN #header -->
	<div id="header" class="header">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN header-container -->
			<div class="header-container">
				<!-- BEGIN navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div class="header-logo">
						<a href="index.html">
							<span class="logo-icon"><i><img src="frontend/assets/img/everify-transparent2.png"/></i></span>
							<small>electronic payments</small>
						</a>
					</div>
				</div>
				<!-- END navbar-header -->
				<!-- BEGIN header-nav -->
				<div class="header-nav">
					<div class=" collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav">
							<li><a th:href="@{/profile}">Profile</a></li>
							<li><a th:href="@{/verification}">Verifications</a></li>
							<li><a href="#">Invoice</a></li>




						</ul>
					</div>
				</div>
				<!-- END header-nav -->
				<!-- BEGIN header-nav -->
				<div class="header-nav">
					<ul class="nav pull-right">

						<li class="divider"></li>
						<li>
							<a th:href="@{/logout}">
								<img th:src="@{'data:image/jpeg;base64,'+${result.picture}}" class="user-img" alt="" />
								<span  class="hidden-md hidden-sm hidden-xs">Log-Out</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- END header-nav -->
			</div>
			<!-- END header-container -->
		</div>
		<!-- END container -->
	</div>
	<!-- END #header -->

	<!-- BEGIN #checkout-cart -->
	<div class="section-container" id="checkout-cart">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN checkout -->
			<div class="checkout">
				<form class="navbar-form full-width" action="#" data-th-action="@{./form_wizards}" th:object="${login}"
					  method="post"
					  enctype="multipart/form-data">

					<!-- BEGIN checkout-header -->
					<div class="checkout-header">                            <!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-3 -->
							<div class="col-md-3 col-sm-3">
								<div class="step active">
									<a href="#">
										<div class="number">1</div>
										<div class="info">
											<div class="title">CheckOut</div>
											<div class="desc">Calculate How Much To Pay</div>
										</div>
									</a>
								</div>
							</div>
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<div class="col-md-3 col-sm-3">
								<div class="step">
									<a href="#">
										<div class="number">3</div>
										<div class="info">
											<div class="title">Payment</div>
											<div class="desc">Make Payment </div>
										</div>
									</a>
								</div>
							</div>
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<div class="col-md-3 col-sm-3">
								<div class="step">
									<a href="#">
										<div class="number">4</div>
										<div class="info">
											<div class="title">Complete Payment</div>
											<div class="desc">Finish Payment</div>
										</div>
									</a>
								</div>
							</div>
							<!-- END col-3 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END checkout-header -->
					<!-- BEGIN checkout-body -->
					<div class="checkout-body">
						<div class="table-responsive">
							<table class="table table-cart">
								<thead>
								<tr>
									<th>Product Name</th>
									<th class="text-center">Price</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Total</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td class="cart-product">
										<div class="product-img">
											<img src="frontend/assets/img/everify-transparent2.png"/>
										</div>
										<div class="product-info">
											<div class="title">E-Verify Credit (TopUp)</div>
											<div class="desc" th:if="${result.userType=='1'}" >1 Authentication Request is Charged $5.00 </div>
											<div class="desc" th:if="${result.userType=='2'}" >1 Authentication Request is Charged $10.00  </div>
											<div class="desc" th:if="${result.userType=='3'}" >1 Authentication Request is Charged $15.00  </div>
											<div class="desc" th:if="${result.userType=='4'}" >1 Authentication Request is Charged $20.00  </div>
										</div>
									</td>
									<td class="cart-price text-center">
										<div class="desc" th:if="${result.userType=='1'}"  > $5.00 </div>
										<div class="desc" th:if="${result.userType=='2'}"  >$10.00  </div>
										<div class="desc" th:if="${result.userType=='3'}"  >$15.00  </div>
										<div class="desc" th:if="${result.userType=='4'}"  >$20.00  </div>

									</td>
									<td class="cart-qty text-center">
										<div class="cart-qty-input">
											<a href="#"  class="qty-control left disabled" data-click="decrease-qty" data-target="#qty" ></a>
											<input type="text" name="qty"  class="form-control" id="qty" oninput="multiplyBy()"/>
											<input th:if="${result.userType=='1'}" type="hidden" id="userTypeCharge" value="5" class="form-control" />
											<input th:if="${result.userType=='1'}" type="hidden" id="userTypeCharge" value="10" class="form-control"  />
											<input th:if="${result.userType=='1'}" type="hidden" id="userTypeCharge" value="15" class="form-control" />
											<input th:if="${result.userType=='1'}" type="hidden" id="userTypeCharge" value="20" class="form-control"  />
											<a href="#" class="qty-control right disabled" data-click="increase-qty" data-target="#qty"></a>
										</div>
										<div class="qty-desc">1 to max order</div>
									</td>
									<td class="cart-total text-center">
										$ <span id = "results"/>.00
									</td>
								</tr>
								<tr>
									<td class="cart-summary" colspan="4">
										<div class="summary-container">
											<div class="summary-row">
												<div class="field">Cart Subtotal</div>
												$ <div class="value"><span id = "total1"/></div>.00
											</div>
											<div class="summary-row text-danger">
												<div class="field">Discount Provided</div>
												<div class="value">$0.00</div>
											</div>
											<div class="summary-row total">
												<div class="field">Total</div>
												$ <div class="value"><span id = "totals"/></div>.00
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- END checkout-body -->
					<!-- BEGIN checkout-footer -->
					<div class="checkout-footer">
						<button id="checkOutValue"  type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Checkout</button>
					</div>
					<!-- END checkout-footer -->
				</form>
			</div>
			<!-- END checkout -->
		</div>
		<!-- END container -->
	</div>
	<!-- END #checkout-cart -->

	<!-- BEGIN #footer-copyright -->
	<div id="footer-copyright" class="footer-copyright">
		<!-- BEGIN container -->
		<div class="container">
			<div class="payment-method">
				<img src="checkout/assets/img/payment_method.png" alt="" />
			</div>
			<div class="copyright">
				Copyright &amp;copy; Lothmas 2018 All rights reserved.
			</div>
		</div>
		<!-- END container -->
	</div>
	<!-- END #footer-copyright -->
</div>
<!-- END #page-container -->

<!-- begin theme-panel -->
<div class="theme-panel">
	<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
	<div class="theme-panel-content">
		<ul class="theme-list clearfix">
			<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
			<li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
		</ul>
	</div>
</div>
<!-- end theme-panel -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="checkout/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="checkout/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="checkout/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="checkout/assets/crossbrowserjs/html5shiv.js"></script>
<script src="checkout/assets/crossbrowserjs/respond.min.js"></script>
<script src="checkout/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="checkout/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="checkout/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>

<script>
    function multiplyBy()
    {
        num1 = document.getElementById("qty").value;
        num2 = document.getElementById("userTypeCharge").value;
        document.getElementById("results").innerHTML = num1 * num2;
        document.getElementById("total1").innerHTML = num1 * num2;
        document.getElementById("totals").innerHTML = num1 * num2;

    };
</script>
</body>
</html>
