<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>E - Verify | Edit Qualifications</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet"/>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/style.min.css" rel="stylesheet"/>
    <link href="assets/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="assets/css/theme/default.css" rel="stylesheet" id="theme"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet"/>
    <link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet"/>
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body th:each="result: *{individualProfile}">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top" th:each="adminProfile: *{adminProfile}">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> E - Verify</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form full-width" action="#" data-th-action="@{./login}" th:object="${login}"
                          method="post"
                          enctype="multipart/form-data">
                        <select class="form-control" id="status" name="username"
                                th:each="authoriseAccounts, iterateShares : ${userAuthorisedAccounts}">
                            <option th:each="sharesFrom, iterateSharesFrom : ${authoriseAccounts.shareFrom}"
                                    th:value="${sharesFrom.username}"
                                    th:text="${sharesFrom.username}"
                                    th:selected="${sharesFrom.username.contains(sharesFrom.username)}"/>
                        </select>

                        <button name="action" value="switch_user" type="submit" class="btn btn-success btn-sm">switch
                            user
                        </button>

                    </form>

                </li>

                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                        <i class="fa fa-bell-o"></i>
                        <span class="label">5</span>
                    </a>
                    <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                        <li class="dropdown-header">Notifications (5)</li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Server Error Reports</h6>
                                    <div class="text-muted f-s-11">3 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt=""/>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">John Smith</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted f-s-11">25 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt=""/>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">Olivia</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted f-s-11">35 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New User Registered</h6>
                                    <div class="text-muted f-s-11">1 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New Email From John</h6>
                                    <div class="text-muted f-s-11">2 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer text-center">
                            <a href="javascript:;">View more</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{'data:image/jpeg;base64,'+${adminPicture}}"
                             alt="no profile pic set"/>
                        <span class="hidden-xs" th:text="${adminProfile.username}"/> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li th:if="${!result.username.equalsIgnoreCase(accountHolderUsername)}"><a
                                th:href="@{/switch_to_master}">Switch To Main Account</a></li>
                        <li th:if="${result.username.equalsIgnoreCase(accountHolderUsername)}"><a
                                th:href="@{/edit_profile}">Edit Profile</a></li>
                        <!--<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>-->
                        <!--<li><a href="javascript:;">Setting</a></li>-->
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar sidebar-transparent">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image">
                        <a href="javascript:;"><img th:src="@{'data:image/jpeg;base64,'+${picture}}"
                                                    alt="no profile pic set"/></a>
                    </div>
                    <div class="info" th:text="${result.username}"/>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Navigation</li>

                <li><a href="extra_profile">
                    <i class="fa fa-laptop"></i>
                    <span>Profile</span>
                </a></li>

                <li th:if="${result.username.equalsIgnoreCase(accountHolderUsername)}"><a href="authorization">
                    <i class="fa fa-share-square-o "></i>
                    <span>Authorization</span>
                </a></li>

                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-th"></i>
                        <span>Qualifications</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{qualifications_national(username=${result.username})}">National
                            Transcripts</a></li>
                        <li><a href="#">Interim Transcripts</a></li>
                    </ul>
                </li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">Qualifications</a></li>
            <li class="active">Edit Qualifications</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Qualifications Editor</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                               data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                        </div>
                        <h4 class="panel-title">Qualifications</h4>
                    </div>
                    <div class="panel-body">
                        <form action="#" data-th-action="@{./selected_qualification}"
                              th:object="${selected_qualification}"
                              method="post" data-parsley-validate="true" name="form-wizard">
                            <div id="wizard">
                                <ol>
                                    <li>
                                        Institute
                                        <small th:text="${institutes.about}"/>
                                    </li>

                                    <li>
                                        Completed
                                        <small>Confirm Adding / Creating new Qualification</small>
                                    </li>
                                </ol>
                                <!-- begin wizard step-1 -->
                                <div class="wizard-step-1">
                                    <fieldset>
                                        <legend class="pull-left width-full">
                                            <div class="form-group">
                                                <div class="col-md-12">

                                                    <!--<div class="col-md-8pull-left" >Select Existing Qualification to Add On Existing Results</div>-->
                                                    <div class="col-md-6">
                                                        <select class="form-control" id="status"
                                                                name="selectedQualification"
                                                                th:each="authoriseAccounts, iterateShares : ${userAuthorisedAccounts}">
                                                            <option selected="selected" disabled="disabled"  th:text="${selectedQualificationSelected}">
                                                            </option>
                                                            <option th:each="attainedQualifications, rowStat : ${qualificationsAttained}"
                                                                    th:value="${rowStat.index}"
                                                                    th:text="${attainedQualifications.programme}"
                                                            />
                                                        </select>
                                                        <select class="form-control" id="status"
                                                                name="selectedModule">
                                                            <option selected="selected" disabled="disabled" th:text="${selectedModuleSelected}">
                                                            </option>
                                                            <option th:each="modules, rowStat : ${modules}"
                                                                    th:value="${rowStat.index +1}"
                                                                    th:text="${modules.level + modules.period}"
                                                            />
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 pull-left">
                                                        <button type="submit" class="btn btn-success btn-sm">
                                                            return selected
                                                        </button>
                                                        <div th:if="${!selectedQualificationSelected.equalsIgnoreCase('Select Existing Qualification to Add / Edit On Existing Results')}">
                                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModule" >+ add module  </button>
                                                        </div>
                                                        <div class="modal fade" id="addModule" tabindex="-1" role="dialog" aria-labelledby="addModuleLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <!--<h5 class="modal-title" id="addModuleLabel">New message</h5>-->
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form>
                                                                            <div class="form-group">
                                                                                <label for="recipient-name" class="form-control-label">Level:</label>
                                                                                <input type="text" class="form-control" id="recipient-name"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="message-text" class="form-control-label">Period:</label>
                                                                                <input type="text" class="form-control" id="message-text"/>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary">Create module</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!--<div class="col-md-6 pull-left" th:if="${!selectedModuleSelected.equalsIgnoreCase('Select Existing Qualification to Add / Edit On Existing Results')}">-->
                                                        <!--<button type="submit" class="btn btn-success btn-sm" >-->
                                                            <!--create new-->
                                                        <!--</button>-->
                                                    <!--</div>-->

                                                    <input type="hidden" name="username" th:value="${result.username}"
                                                           id="qualificationSelected" class="form-control text-bold"/>

                                                </div>
                                            </div>
                                        </legend>
                                        <!-- begin row -->
                                        <div class="row">
                                            <!-- begin col-4 -->
                                            <div class="col-md-4">
                                                <div class="form-group block1 ">
                                                    <label>Institute Name</label>
                                                    <input type="text" disabled="disabled"
                                                           th:placeholder="${institutes.name}"
                                                           class="form-control text-bold"
                                                           data-parsley-group="wizard-step-1"/>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Institute Country</label>
                                                    <input type="text" disabled="disabled" name="middle"
                                                           th:placeholder="${institutes.country}"
                                                           class="form-control text-bold"
                                                           data-parsley-group="wizard-step-1"/>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                            <!-- begin col-4 -->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Institute Username</label>
                                                    <input type="text" disabled="disabled" name="lastname"
                                                           th:placeholder="${institutes.username}"
                                                           class="form-control text-bold"
                                                           data-parsley-group="wizard-step-1"/>
                                                </div>
                                            </div>
                                            <!-- end col-4 -->
                                        </div>


                                        <!-- begin row -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- begin panel -->
                                                <div class="panel panel-inverse" data-sortable-id="form-validation-2">
                                                    <div class="panel-heading">
                                                        <div class="panel-heading-btn">
                                                            <a href="javascript:;"
                                                               class="btn btn-xs btn-icon btn-circle btn-default"
                                                               data-click="panel-expand"><i
                                                                    class="fa fa-expand"></i></a>
                                                            <a href="javascript:;"
                                                               class="btn btn-xs btn-icon btn-circle btn-success"
                                                               data-click="panel-reload"><i
                                                                    class="fa fa-repeat"></i></a>
                                                            <a href="javascript:;"
                                                               class="btn btn-xs btn-icon btn-circle btn-warning"
                                                               data-click="panel-collapse"><i
                                                                    class="fa fa-minus"></i></a>
                                                            <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                                                        </div>
                                                        <h4 class="panel-title"><button type="button" class="btn btn-primary btn-sm"  >+ add qualification  </button>
                                                            Qualification Properties</h4>


                                                    </div>
                                                    <div th:if="${selectedQualification.programme!=''}" class="panel-body panel-form">
                                                        <form class="form-horizontal form-bordered"
                                                              data-parsley-validate="true">
                                                            <div class="mt-5 form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Status</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanudm"
                                                                           th:value="${selectedQualification.status}"/>
                                                                </div>
                                                            </div>
                                                            <div class="mt-5 form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Programme</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanum"
                                                                           th:value="${selectedQualification.programme}"/>
                                                                </div>
                                                            </div>
                                                            <div class="mt-5 form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Programme
                                                                    Level</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanumd"
                                                                           th:value="${selectedQualification.programmeLevel}"/>
                                                                </div>
                                                            </div>
                                                            <div class="mt-5 form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Period</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphansdumd"
                                                                           th:value="${selectedQualification.period}"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Awarding
                                                                    Date</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanumdssad"
                                                                           th:value="${selectedQualification.awardingDate}"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Overal
                                                                    Class</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanumsad"
                                                                           th:value="${selectedQualification.overalClass}"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4 col-sm-4">Certificate
                                                                    Number</label>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <input class="form-control" type="text"
                                                                           id="alphanumds"
                                                                           th:value="${selectedQualification.certificateNumber}"/>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-warning btn-sm pull-right" >
                                                                save qualification</button>

                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- end panel -->
                                            </div>
                                        </div>

                                        <!-- end row -->
                                    </fieldset>

                                </div>
                                <!-- end wizard step-1 -->

                                <!-- begin wizard step-4 -->
                                <div>
                                    <div class="jumbotron m-b-0 text-center">
                                        <h1>Finish Qualifications Edit</h1>
                                        <p>You confirm to have added / created New Qualifications correctly under an
                                            authorized profile</p>
                                        <p><a class="btn btn-success btn-lg" role="button">Finish &amp; Proceed</a></p>
                                    </div>
                                </div>
                                <!-- end wizard step-4 -->
                            </div>
                        </form>
                        <div th:if="${!selectedModuleSelected.equalsIgnoreCase('Select Module')}" class="row">

                                    <div class="jumbotron m-b-0 table-responsive">
                                        <table id="table" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th><strong>Module</strong></th>
                                                <th><strong>Subject</strong></th>
                                                <th><strong>Grade</strong></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>


                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

    <!-- begin theme-panel -->
    <div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
            <h5 class="m-t-0">Color Theme</h5>
            <ul class="theme-list clearfix">
                <li class="active"><a href="javascript:;" class="bg-green" data-theme="default"
                                      data-click="theme-selector" data-toggle="tooltip" data-trigger="hover"
                                      data-container="body" data-title="Default">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector"
                       data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector"
                       data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a>
                </li>
                <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector"
                       data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a>
                </li>
                <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector"
                       data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a>
                </li>
                <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector"
                       data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a>
                </li>
            </ul>
            <div class="divider"></div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label double-line">Header Styling</div>
                <div class="col-md-7">
                    <select name="header-styling" class="form-control input-sm">
                        <option value="1">default</option>
                        <option value="2">inverse</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label">Header</div>
                <div class="col-md-7">
                    <select name="header-fixed" class="form-control input-sm">
                        <option value="1">fixed</option>
                        <option value="2">default</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                <div class="col-md-7">
                    <select name="sidebar-styling" class="form-control input-sm">
                        <option value="1">default</option>
                        <option value="2">grid</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label">Sidebar</div>
                <div class="col-md-7">
                    <select name="sidebar-fixed" class="form-control input-sm">
                        <option value="1">fixed</option>
                        <option value="2">default</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                <div class="col-md-7">
                    <select name="content-gradient" class="form-control input-sm">
                        <option value="1">disabled</option>
                        <option value="2">enabled</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-5 control-label double-line">Content Styling</div>
                <div class="col-md-7">
                    <select name="content-styling" class="form-control input-sm">
                        <option value="1">default</option>
                        <option value="2">black</option>
                    </select>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-md-12">
                    <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i
                            class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end theme-panel -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="assets/crossbrowserjs/html5shiv.js"></script>
<script src="assets/crossbrowserjs/respond.min.js"></script>
<script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="assets/plugins/parsley/dist/parsley.js"></script>
<script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
<script src="assets/js/form-wizards-validation.demo.min.js"></script>
<script src="assets/js/apps.min.js"></script>
<script src="assets/js/tablefy.js"></script>
<script src="assets/js/postrequest.js" ></script>

<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function () {
        App.init();
        FormWizardValidation.init();
    });
</script>
<script th:inline="javascript">


    var opt = {
        showElemet: 50,     // numbers max of rows for page
        showSearch: true,   // if is true show the search bar
        showEdit: true,     // if is true show the Edit Button
        showDelete: true,   // if is true show the Delete Button
        showAdd: true,      // if is true show the Add Button
//        ajax:{
//            url: "#", // A string containing the URL to which the request is sent.
//            data: { read : "client" }  // Data to be sent to the server.
//        }
    }
    var table = new Tablefy("table", opt);

    var data_source = JSON.parse("[" + [[${gradesForModules}]] + "]");
    //    console.log(data_source);

    table.setDataTable(data_source) // Sort a colum 2 in ascendig mode

    table.addEventListener("onAddRow", function (target) {
        console.log(target) // target is array that contains the added row
        FormWizardValidationp(target);
        $.ajax({
            type: "POST",
            url: "qualification_edit",
            data: { current: JSON.stringify(target), previous: JSON.stringify(target),action:"addGrade" } // parameters
        });
    });
    table.addEventListener("onRemoveRow", function (target) {
        console.log(target) // target is array that contains the removed row
        FormWizardValidationp(target);
        $.ajax({
            type: "POST",
            url: "qualification_edit",
            data: { current: JSON.stringify(target), previous: JSON.stringify(target),action:"deleteGrade" } // parameters
        });
    });
    table.addEventListener("onEditRow", function (target) {
        console.log(target.current) // target.current is array that contains the row before the change
        console.log(target.prev)   // target.prev is array that contains the row after the change
        FormWizardValidationp(target);
        $.ajax({
            type: "POST",
            url: "qualification_edit",
            data: { current: JSON.stringify(target.current), previous: JSON.stringify(target.prev),action:"editGrade" } // parameters
        });
    });
    table.addEventListener("onClickRow", function (target) {
        console.log(target) // target is array that contains the selected row
        FormWizardValidationp(target);
    });
    table.addEventListener("ondblClickRow", function (target) {
        console.log(target) // target is array that contains the selected row
        FormWizardValidationp(target);
    });


</script>
<script>
    $('#addModule').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
</body>
</html>
