<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<body>
	<!--<div th:fragment="head">-->
		<!--<meta charset="utf-8" />-->
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
		<!--&lt;!&ndash; The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags &ndash;&gt;-->
		<!--<meta name="description" content="" />-->
		<!--<meta name="author" content="" />-->
		<!--<link rel="icon" href="img/fnb-logo.png" />-->
		<!---->
		<!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
		<!--<link href="css/bootstrap.min.css" rel="stylesheet" />-->
		<!--<link href="css/bsg.css" rel="stylesheet" />-->
	<!--</div>-->

	<div th:fragment="head">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN header-container -->
			<div class="header-container">
				<!-- BEGIN navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="header-logo">
						<a href="index.html">
							<span class="brand"></span>
							<span>E -</span> Verify
							<!--<small>e-commerce frontend theme</small>-->
						</a>
					</div>
				</div>
				<!-- END navbar-header -->
				<!-- BEGIN header-nav -->
				<div class="header-nav">
					<div class=" collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav">
							<li ><a href="index">Home</a></li>
							<li ><a href="about_us">About Us</a></li>
							<li ><a href="contact_us">Contacts</a></li>
							<li ><a href="faq">FAQ</a></li>

							<li class="dropdown dropdown-hover">
								<a href="#" data-toggle="dropdown">
									<i class="fa fa-search search-btn"></i>
									<span class="arrow top"></span>
								</a>
								<div class="dropdown-menu p-15">
									<form action="search_results.html" method="POST" name="search_form">
										<div class="input-group">
											<input type="text" placeholder="Search"
												   class="form-control bg-silver-lighter"/>
											<span class="input-group-btn">
                                                    <button class="btn btn-inverse" type="submit"><i
															class="fa fa-search"></i></button>
                                                </span>
										</div>
									</form>
								</div>
							</li>
							<li class="hidden-md hidden-sm hidden-xs pull-right"><a href="login">Login / Register</a></li>

						</ul>
					</div>
				</div>
				<!-- END header-nav -->
				<!-- BEGIN header-nav -->
				<!--<div class="header-nav">-->
				<!--<ul class="nav pull-right">-->
				<!--<li>-->
				<!--<a href="my_account.html">-->
				<!--&lt;!&ndash;<img src="landing/landing/assets/img/user-1.jpg" class="user-img" alt="" />&ndash;&gt;-->
				<!--<a href="login.html" class="btn btn-outline btn-lg fadeInLeftBig animated">Login /-->
				<!--Register</a>-->

				<!--&lt;!&ndash;<span class="hidden-md hidden-sm hidden-xs"><a href="login.html">Login / Register</a></span>&ndash;&gt;-->
				<!--</a>-->
				<!--</li>-->
				<!--</ul>-->
				<!--</div>-->
				<!-- END header-nav -->
			</div>
			<!-- END header-container -->
		</div>
		<!-- END container -->
	</div>

	<div th:fragment="footer">

		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">ABOUT US</h4>
					<p>E - Qualification Authority (E - Verify) is a central
						qualification authority which is affiliated to both local and
						E - examination bodies.
					</p>
					<p>
						The system distributes examination results and is a central
						repository which holds candidates results. In the process the system
						links potential candidates to employees and businesses
					</p>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<!--<div class="col-md-3">-->
				<!--<h4 class="footer-header">RELATED LINKS</h4>-->
				<!--<ul class="fa-ul">-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Shopping Help</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Careers</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Payment Method</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sales &amp; Refund</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sitemap</a></li>-->
				<!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy &amp; Policy</a></li>-->
				<!--</ul>-->
				<!--</div>-->
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->

				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3 pull-right">
					<h4 class="footer-header">OUR CONTACT</h4>
					<address>
						<strong>ZCoders</strong><br/>
						11042 Kuwadzana 4Ext<br/>
						Dzivaresekwa Harare<br/><br/>
						<abbr title="Phone">Phone:</abbr> (27) 780915010<br/>
						<abbr title="Fax">Fax:</abbr> (263) 456-7891<br/>
						<abbr title="Email">Email:</abbr> <a href="mailto:sales@myshop.com">lothmas@live.com</a><br/>
						<abbr title="Skype">Skype:</abbr> <a href="skype:myshop">lothmas</a>
					</address>
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END container -->
	</div>
	
</body>

</html>