<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>E - Verify Landing</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="landing/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="landing/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="landing/assets/css/style.min.css" rel="stylesheet"/>
    <link href="landing/assets/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="landing/assets/css/theme/default.css" id="theme" rel="stylesheet"/>
    <link href="landing/assets/css/animate.min.css" rel="stylesheet"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="landing/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- BEGIN #page-container -->
<div id="page-container" class="fade">
    <div id="top-nav" class="top-nav">
        <!-- BEGIN container -->
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-hover">
                        <a href="#" data-toggle="dropdown"><img src="landing/assets/img/english.png" class="flag-img" alt="" /> English <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><img src="landing/assets/img/english.png" class="flag-img" alt="" /> English</a></li>
                            <li><a href="#"><img src="landing/assets/img/german.png" class="flag-img" alt="" /> German</a></li>
                            <li><a href="#"><img src="landing/assets/img/spanish.png" class="flag-img" alt="" /> Spanish</a></li>
                            <li><a href="#"><img src="landing/assets/img/french.png" class="flag-img" alt="" /> French</a></li>
                            <li><a href="#"><img src="landing/assets/img/chinese.png" class="flag-img" alt="" /> Chinese</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Customer Care</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Our Forum</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#"><i class="fa fa-facebook f-s-14"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter f-s-14"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram f-s-14"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble f-s-14"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus f-s-14"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- END container -->
    </div>
    <!-- BEGIN #header -->
    <div id="header" class="header">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN header-container -->
            <div class="header-container">
                <!-- BEGIN navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="header-logo">
                        <a href="index.html">
                            <span class="brand"></span>
                            <span>E -</span> Verify
                            <!--<small>e-commerce frontend theme</small>-->
                        </a>
                    </div>
                </div>
                <!-- END navbar-header -->
                <!-- BEGIN header-nav -->
                <div class="header-nav">
                    <div class=" collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav">
                            <li ><a href="index">Home</a></li>
                            <li ><a href="about_us">About Us</a></li>
                            <li ><a href="contact_us">Contacts</a></li>
                            <li ><a href="faq">FAQ</a></li>

                            <li class="dropdown dropdown-hover">
                                <a href="#" data-toggle="dropdown">
                                    <i class="fa fa-search search-btn"></i>
                                    <span class="arrow top"></span>
                                </a>
                                <div class="dropdown-menu p-15">
                                    <form action="search_results.html" method="POST" name="search_form">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search"
                                                   class="form-control bg-silver-lighter"/>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-inverse" type="submit"><i
                                                            class="fa fa-search"></i></button>
                                                </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="hidden-md hidden-sm hidden-xs pull-right"><a href="/iqa/login">Login / Register</a></li>

                        </ul>
                    </div>
                </div>
                <!-- END header-nav -->
                <!-- BEGIN header-nav -->
                <!--<div class="header-nav">-->
                <!--<ul class="nav pull-right">-->
                <!--<li>-->
                <!--<a href="my_account.html">-->
                <!--&lt;!&ndash;<img src="landing/landing/assets/img/user-1.jpg" class="user-img" alt="" />&ndash;&gt;-->
                <!--<a href="login.html" class="btn btn-outline btn-lg fadeInLeftBig animated">Login /-->
                <!--Register</a>-->

                <!--&lt;!&ndash;<span class="hidden-md hidden-sm hidden-xs"><a href="login.html">Login / Register</a></span>&ndash;&gt;-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!-- END header-nav -->
            </div>
            <!-- END header-container -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #header -->

    <!-- BEGIN #slider -->
    <div id="slider" class="section-container p-0 bg-black-darker">
        <!-- BEGIN carousel -->
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <!-- BEGIN carousel-inner -->
            <div class="carousel-inner">
                <!-- BEGIN item -->
                <div class="item active">
                    <img src="landing/assets/img/slider-4-cover.jpg" class="bg-cover-img" alt=""/>
                    <div class="container">

                    </div>
                    <div class="carousel-caption carousel-caption-left">
                        <div class="container">
                            <h3 class="title m-b-5 fadeInLeftBig animated">Examination Bodies:</h3>
                            <div class="price m-b-30 fadeInLeftBig animated"><h5><span>E - Verify gets Results straight from the examiner. PROVIDING: Authenticity
                                &amp; Reliability</span>
                            </h5></div>
                            <a href="login" class="btn btn-outline btn-lg fadeInLeftBig animated">Login / Register</a>
                        </div>
                    </div>

                </div>
                <!-- END item -->
                <!-- BEGIN item -->
                <div class="item">
                    <img src="landing/assets/img/slider-5-cover.jpg" class="bg-cover-img" alt=""/>
                    <div class="container">

                    </div>
                    <div class="carousel-caption carousel-caption-right">
                        <div class="container">
                            <h3 class="title m-b-5 fadeInRightBig animated">Results Distribution:</h3>
                            <div class="price m-b-30 fadeInRightBig animated"><h5><span>Distributing results to awaiting candidates via sms, email, or the students can visit E - Verify online platform to view their results.</span>
                            </h5></div>

                        </div>
                    </div>
                </div>
                <!-- END item -->
                <!-- BEGIN item -->
                <div class="item">
                    <img src="landing/assets/img/slider-2-cover.jpg" class="bg-cover-img" alt=""/>
                    <div class="carousel-caption">
                        <div class="container">


                            <div class="price fadeInDownBig animated"><h4><span>Third-Parties can be given approval by the candidate to access their results.

The system can link potential candidates to employers looking to fill-in available posts.</span></h4></div>

                        </div>
                    </div>
                </div>
                <!-- END item -->
            </div>
            <!-- END carousel-inner -->
            <a class="left carousel-control" href="#main-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#main-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <!-- END carousel -->
    </div>
    <!-- END #slider -->

    <!-- BEGIN #promotions -->

    <!-- END #promotions -->

    <!-- BEGIN #trending-items -->
    <div id="trending-items" class="section-container bg-silver">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN section-title -->
            <h4 class="section-title clearfix">
                <a href="#" class="pull-right m-l-5"><i class="fa fa-angle-right f-s-18"></i></a>
                <a href="#" class="pull-right"><i class="fa fa-angle-left f-s-18"></i></a>
                Services

            </h4>
            <!-- END section-title -->

            <!-- BEGIN row -->
            <div class="row row-space-10">
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image1.png" alt=""/>
                            <div class="discount">Easy to Share</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a ><p>By a click of a button,
                                    Qualifications can be accessed and shared
                                    to interested 3 rd Parties</p></a>
                            </h5>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image7.png" alt=""/>
                            <div class="discount">Save Money &amp; Time</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a href="product.html"><p>No need to Print Results Slips,
                                    We have gone digital</p></a>
                            </h5>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image3.png" alt=""/>
                            <div class="discount">E -ization</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a href="product.html"><p>Once Online, Ones’ Results can be
                                    accessed securely from anywhere
                                    and everywhere</p></a>
                            </h5>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image5.png" alt=""/>
                            <div class="discount">Multi-Devices</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a href="product.html"><p>Electronic Mobile devices can
                                    be used anywhere anytime to
                                    accesses results</p></a>
                            </h5>

                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image6.png" alt=""/>
                            <div class="discount">Information Security</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a href="product.html"><p>We get the results straight from the examination
                                    bodies. No more qualification forging and
                                    misrepresentation</p></a>
                            </h5>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
                <!-- BEGIN col-2 -->
                <div class="col-md-2 col-sm-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a  class="item-image">
                            <img src="landing/assets/img/home/image2.png" alt=""/>
                            <div class="discount">Communication</div>
                        </a>
                        <div class="item-info">
                            <h5 >
                                <a href="product.html"><p>Qualifications can be accessed Online via our
                                    Website, E-mail’s &amp; SMS.</p></a>
                            </h5>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <!-- END col-2 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #trending-items -->


    <!-- BEGIN #policy -->
    <div id="policy" class="section-container p-t-30 p-b-30">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <!--<div class="row">-->
                <!--&lt;!&ndash; BEGIN col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--&lt;!&ndash; BEGIN policy &ndash;&gt;-->
                    <!--<div class="policy">-->
                        <!--<div class="policy-icon"><i class="fa fa-truck"></i></div>-->
                        <!--<div class="policy-info">-->
                            <!--<h4>Free Delivery Over $100</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END policy &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; END col-4 &ndash;&gt;-->
                <!--&lt;!&ndash; BEGIN col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--&lt;!&ndash; BEGIN policy &ndash;&gt;-->
                    <!--<div class="policy">-->
                        <!--<div class="policy-icon"><i class="fa fa-shield"></i></div>-->
                        <!--<div class="policy-info">-->
                            <!--<h4>1 Year Warranty For Phones</h4>-->
                            <!--<p>Cras laoreet urna id dui malesuada gravida. <br/>Duis a lobortis dui.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END policy &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; END col-4 &ndash;&gt;-->
                <!--&lt;!&ndash; BEGIN col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--&lt;!&ndash; BEGIN policy &ndash;&gt;-->
                    <!--<div class="policy">-->
                        <!--<div class="policy-icon"><i class="fa fa-user-md"></i></div>-->
                        <!--<div class="policy-info">-->
                            <!--<h4>6 Month Warranty For Accessories</h4>-->
                            <!--<p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; END policy &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; END col-4 &ndash;&gt;-->
            <!--</div>-->
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #policy -->

    <!-- BEGIN #subscribe -->
    <div id="subscribe" class="section-container bg-silver p-t-30 p-b-30">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-6 -->
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN subscription -->
                    <div class="subscription">
                        <div class="subscription-intro">
                            <h4> LET'S STAY IN TOUCH</h4>
                            <p>Drop us an email</p>
                        </div>
                        <div class="subscription-form">
                            <form name="subscription_form" action="index.html" method="POST">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email"
                                           placeholder="Enter Email Address"/>
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-inverse"><i class="fa fa-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END subscription -->
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN social -->
                    <div class="social">
                        <div class="social-intro">
                            <h4>FOLLOW US</h4>
                            <p>We want to hear from you!</p>
                        </div>
                        <div class="social-list">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <!-- END social -->
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #subscribe -->

    <!-- BEGIN #footer -->
    <div id="footer" class="footer">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-3 -->
                <div class="col-md-3">
                    <h4 class="footer-header">ABOUT US</h4>
                    <p>E - Qualification Authority (E - Verify) is a central
                        qualification authority which is affiliated to both local and
                        E - examination bodies.
                      </p>
                    <p>
                        The system distributes examination results and is a central
                        repository which holds candidates results. In the process the system
                        links potential candidates to employees and businesses
                    </p>
                </div>
                <!-- END col-3 -->
                <!-- BEGIN col-3 -->
                <!--<div class="col-md-3">-->
                    <!--<h4 class="footer-header">RELATED LINKS</h4>-->
                    <!--<ul class="fa-ul">-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Shopping Help</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Terms of Use</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Contact Us</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Careers</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Payment Method</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sales &amp; Refund</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Sitemap</a></li>-->
                        <!--<li><i class="fa fa-li fa-angle-right"></i> <a href="#">Privacy &amp; Policy</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!-- END col-3 -->
                <!-- BEGIN col-3 -->

                <!-- END col-3 -->
                <!-- BEGIN col-3 -->
                <div class="col-md-3 pull-right">
                    <h4 class="footer-header">OUR CONTACT</h4>
                    <address>
                        <strong>ZCoders</strong><br/>
                        11042 Kuwadzana 4Ext<br/>
                        Dzivaresekwa Harare<br/><br/>
                        <abbr title="Phone">Phone:</abbr> (27) 780915010<br/>
                        <abbr title="Fax">Fax:</abbr> (263) 456-7891<br/>
                        <abbr title="Email">Email:</abbr> <a href="mailto:sales@myshop.com">lothmas@live.com</a><br/>
                        <abbr title="Skype">Skype:</abbr> <a href="skype:myshop">lothmas</a>
                    </address>
                </div>
                <!-- END col-3 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>
    <!-- END #footer -->

    <!-- BEGIN #footer-copyright -->
    <div id="footer-copyright" class="footer-copyright">
        <!-- BEGIN container -->
        <div class="container">
            <div class="payment-method">
                <!--<img src="landing/assets/img/payment_method.png" alt=""/>-->
            </div>
            <div class="copyright">
                Copyright &copy; 2018 Lothmas. All rights reserved.
            </div>
        </div>
        <!-- END container -->
    </div>
    <!-- END #footer-copyright -->
</div>
<!-- END #page-container -->

<!-- begin theme-panel -->
<div class="theme-panel">
    <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
    <div class="theme-panel-content">
        <ul class="theme-list clearfix">
            <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector"
                   data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector"
                   data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
            <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector"
                                  data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a>
            </li>
            <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector"
                   data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip"
                   data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
        </ul>
    </div>
</div>
<!-- end theme-panel -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="landing/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="landing/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="landing/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="landing/assets/crossbrowserjs/html5shiv.js"></script>
<script src="landing/assets/crossbrowserjs/respond.min.js"></script>
<script src="landing/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="landing/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="landing/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<script>
    $(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>
