<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>E-Verify | Home</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="frontend/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="frontend/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="frontend/assets/css/animate.min.css" rel="stylesheet" />
    <link href="frontend/assets/css/style.min.css" rel="stylesheet" />
    <link href="frontend/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="frontend/assets/css/theme/default.css" id="theme" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="frontend/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-transparent navbar-fixed-top">
        <!-- begin container -->
        <div class="container">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index" >
                    <!--<span class="brand-logo"></span>-->
                    <span class="logo-icon"><i><img src="frontend/assets/img/everify-transparent2.png"/></i></span>

                    <!--<span class="brand-text">-->
                    <!--<span class="text-theme">E-</span> Verify-->
                    <!--</span>-->
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- begin navbar-collapse -->
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" data-click="scroll-to-target">HOME</a></li>
                    <li><a href="#about" data-click="scroll-to-target">ABOUT US</a></li>
                    <li><a href="#team" data-click="scroll-to-target">HOW IT WORKS?</a></li>
                    <li><a href="#service" data-click="scroll-to-target">SERVICES</a></li>
                    <li><a href="#work" data-click="scroll-to-target">OUR PARTNERS</a></li>
                    <!--<li><a href="#client" data-click="scroll-to-target">CLIENT</a></li>-->
                    <li><a href="#pricing" data-click="scroll-to-target">PRICING</a></li>
                    <li><a href="#contact" data-click="scroll-to-target">CONTACT US</a></li>
                </ul>
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #header -->

    <!-- begin #home -->
    <div id="home" class="content has-bg home">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="frontend/assets/img/home-bg.jpg" alt="Home" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container home-content">
            <h3>Welcome to ZICT Online Verification</h3>
            <!--<h3>E-Verify a Leader in Offering Quality Assuarance</h3>-->
            <p>
                Due to an increase in electronic fraud and documents forgery it is of imperative importance to verify every important document you receive. <br />
                This is were E-Verify comes into play.
            </p>
            <a href="login" class="btn btn-theme">Login</a> <a href="register" class="btn btn-outline">Register</a><br />
            <br />
            <!--or <a href="#">subscribe</a> newsletter-->
        </div>
        <!-- end container -->
    </div>
    <!-- end #home -->

    <!-- begin #about -->
    <div id="about" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title">About Us</h2>
            <p class="content-desc">
                Because we’ve been in your shoes and we understand your need for Quality Service,<br />
                We strive to deliver quality services to all our clients
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-6">
                    <!-- begin about -->
                    <div class="about">
                        <h3>Our Story</h3>
                        <p>
                            We Pride Ourselves as innovators in offering Quality Assuarance.
                            E-Verify offers an online web-based QA platform. We are there to
                            make sure that our clients consume verified and authorised information for
                            them to make informative decisions. </p>
                        <p>
                            Due to an increase in electronic fraud and documents forgery
                            it is of imperetive importance to verify every important document you receive. This is were E-Verify comes into play
                        </p>
                    </div>
                    <!-- end about -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-6">
                    <h3>Our Philosophy</h3>
                    <!-- begin about-author -->
                    <div class="about-author">
                        <div class="quote bg-silver">
                            <i class="fa fa-quote-left"></i>
                            <h3>We work harder,<br /><span>to let our clients keep simple</span></h3>
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="author">
                            <div class="image">
                                <img src="frontend/assets/img/ceo-logo1.jpg" alt="Sean Ngu" />
                            </div>
                            <div class="info">
                                Louis T Maparura
                                <small>CEO &amp; Founder</small>
                            </div>
                        </div>
                    </div>
                    <!-- end about-author -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-12">
                    <h3>Our Experience</h3>
                    <!-- begin skills -->
                    <div class="skills">
                        <div class="skills-name">Education Sector</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width: 95%">
                                <span class="progress-number">95%</span>
                            </div>
                        </div>
                        <div class="skills-name">Financial Sector</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width: 90%">
                                <span class="progress-number">90%</span>
                            </div>
                        </div>
                        <div class="skills-name">Information Communication Technology Sector</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width: 85%">
                                <span class="progress-number">85%</span>
                            </div>
                        </div>
                        <div class="skills-name">Manufacturing Sector</div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" style="width: 80%">
                                <span class="progress-number">80%</span>
                            </div>
                        </div>
                    </div>
                    <!-- end skills -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #about -->

    <!-- begin #milestone -->
    <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="assets/img/milestone-bg.jpg" alt="Milestone" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="text" data-final-number="1292">SAQA</div>
                        <div class="title">South Africa</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="text" data-final-number="9039">HomeAffairs</div>
                        <div class="title">South Africa</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="text" data-final-number="89291">ZIMSEC</div>
                        <div class="title">Zimbabwe</div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-3 milestone-col">
                    <div class="milestone">
                        <div class="number" data-animation="true" data-animation-type="text" data-final-number="129">IITPSA</div>
                        <div class="title">South Africa</div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #milestone -->

    <!-- begin #team -->
    <div id="team" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container">
            <h2 class="content-title">How It Works?</h2>
            <p class="content-desc">
                E-Verify Step by Step process flow.
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <!-- begin team -->
                    <div class="team">
                        <div class="image" data-animation="true" data-animation-type="flipInX">
                          <a  href="register">  <img src="frontend/assets/img/register.png" alt="Register / Login" /></a>
                        </div>
                        <div class="info">
                            <h3 class="name">Register / Login</h3>
                            <div class="title text-theme">Step 1</div>
                            <p>Create an E-Verify Account and Activate via an email-link sent to your registered e-mail &amp; login to the System.</p>

                        </div>
                    </div>
                    <!-- end team -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <!-- begin team -->
                    <div class="team">
                        <div class="image" data-animation="true" data-animation-type="flipInX">
                        <a href="login">    <img src="frontend/assets/img/top-up.jpg" alt="Top Up Account" /></a>
                        </div>
                        <div class="info">
                            <h3 class="name">Top Up Account</h3>
                            <div class="title text-theme">Step 2</div>
                            <p>Make a Payment Using your Username as Reference to Embase your Account. Payment Methods Include (1.) Cash Deposit (2.) EFT (3.) Debit / Credit </p>

                        </div>
                    </div>
                    <!-- end team -->
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <!-- begin team -->
                    <div class="team">
                        <div class="image" data-animation="true" data-animation-type="flipInX">
                       <a href="login">    <img src="frontend/assets/img/verify.jpg" alt="Authentication Request" /></a>
                        </div>
                        <div class="info">
                            <h3 class="name">Authentication Request</h3>
                            <div class="title text-theme">Step 3</div>
                            <p>Make an Authentication Request and Receive your Results in real-time. If results can't be made in real-time then a notification that of the results will be sent out either via e-mail or sms. </p>

                        </div>
                    </div>
                    <!-- end team -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #team -->

    <!-- begin #quote -->
    <div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="frontend/assets/img/quote-bg.jpg" alt="Quote" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInLeft">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12 quote">
                    <i class="fa fa-quote-left"></i> Passion leads to design, design leads to performance, <br />
                    performance leads to <span class="text-theme">success</span>!
                    <i class="fa fa-quote-right"></i>
                    <!--<small>Sean Themes, Developer Teams in Malaysia</small>-->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #quote -->

    <!-- beign #service -->
    <div id="service" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container">
            <h2 class="content-title">Our Services</h2>
            <p class="content-desc">
                E-Verify has been designed to provide a one stop shop for web-based Quality Assurance,<br />
                We Operate Internationally &amp; We Are Affiliated to Numerous Accredited 3rd Parties
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                        <div class="info">
                            <h4 class="title">Qualification Verification</h4>
                            <p class="desc">A service to Establish that provided qualifications are authentic and meet regulatory standards.</p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                        <div class="info">
                            <h4 class="title">Register</h4>
                            <p class="desc">A register of accreditation of professionals in their respective area's &mp; a register of Companies registered within a given company

                            </p>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--<div class="service">-->
                        <!--<div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>-->
                        <!--<div class="info">-->
                            <!--<h4 class="title">Immigration Work Eligibility-->

                            <!--</h4>-->
                            <!--<p class="desc">A Database of foreign workers eligibility within the Republic. N.B The Database is not inclusive-->

                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- end col-4 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <!--<div class="row">-->
                <!--&lt;!&ndash; begin col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--<div class="service">-->
                        <!--<div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>-->
                        <!--<div class="info">-->
                            <!--<h4 class="title">Re-usable Code</h4>-->
                            <!--<p class="desc">Aenean et elementum dui. Aenean massa enim, suscipit ut molestie quis, pretium sed orci. Ut faucibus egestas mattis.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-4 &ndash;&gt;-->
                <!--&lt;!&ndash; begin col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--<div class="service">-->
                        <!--<div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>-->
                        <!--<div class="info">-->
                            <!--<h4 class="title">Online Shop</h4>-->
                            <!--<p class="desc">Quisque gravida metus in sollicitudin feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-4 &ndash;&gt;-->
                <!--&lt;!&ndash; begin col-4 &ndash;&gt;-->
                <!--<div class="col-md-4 col-sm-4">-->
                    <!--<div class="service">-->
                        <!--<div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>-->
                        <!--<div class="info">-->
                            <!--<h4 class="title">Free Support</h4>-->
                            <!--<p class="desc">Integer consectetur, massa id mattis tincidunt, sapien erat malesuada turpis, nec vehicula lacus felis nec libero. Fusce non lorem nisl.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-4 &ndash;&gt;-->
            <!--</div>-->
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #about -->

    <!-- beign #action-box -->
    <div id="action-box" class="content has-bg" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="frontend/assets/img/action-bg.jpg" alt="Action" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <!--<div class="container" data-animation="true" data-animation-type="fadeInRight">-->
            <!--&lt;!&ndash; begin row &ndash;&gt;-->
            <!--<div class="row action-box">-->
                <!--&lt;!&ndash; begin col-9 &ndash;&gt;-->
                <!--<div class="col-md-9 col-sm-9">-->
                    <!--<div class="icon-large text-theme">-->
                        <!--<i class="fa fa-binoculars"></i>-->
                    <!--</div>-->
                    <!--<h3>DOWNLOAD OUR MOBILE APP!</h3>-->
                    <!--<p>-->
                        <!--Download Android &amp; IOS mobile APP-->
                    <!--</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-9 &ndash;&gt;-->
                <!--&lt;!&ndash; begin col-3 &ndash;&gt;-->
                <!--<div class="col-md-3 col-sm-3">-->
                    <!--<a href="#" class="btn btn-outline btn-block">DOWNLOAD</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; end col-3 &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; end row &ndash;&gt;-->
        <!--</div>-->
        <!-- end container -->
    </div>
    <!-- end #action-box -->

    <!-- begin #work -->
    <div id="work" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title">Our PARTNERS</h2>
            <p class="content-desc">
                Universities, Colleges &amp; Examination Boards we work with.
            </p>
            <!-- begin row -->
            <div class="row row-space-10">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-1.jpg" alt="Work 1" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">University Of Zimbabwe</span>
                            <span class="desc-text">UZ</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-3.jpg" alt="Work 3" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Zimbabwe School Examinations Council</span>
                            <span class="desc-text">ZIMSEC</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-5.jpg" alt="Work 5" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">National University of Science and Technology,</span>
                            <span class="desc-text">NUST</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-7.jpg" alt="Work 7" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Midlands State University</span>
                            <span class="desc-text">MSU</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row row-space-10">
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-2.jpg" alt="Work 2" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Africa University</span>
                            <span class="desc-text">AU</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-4.jpg" alt="Work 4" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Harare Institute of Technology</span>
                            <span class="desc-text">HIT</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-6.jpg" alt="Work 6" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Bindura University of Science Education</span>
                            <span class="desc-text">BUST</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- begin work -->
                    <div class="work">
                        <div class="image">
                            <a href="#"><img src="frontend/assets/img/work-8.jpg" alt="Work 8" /></a>
                        </div>
                        <div class="desc">
                            <span class="desc-title">Chinhoyi University of Technology</span>
                            <span class="desc-text">CUT</span>
                        </div>
                    </div>
                    <!-- end work -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #work -->

    <!-- begin #client -->
    <div id="client" class="content has-bg bg-green" data-scrollview="true">
        <!-- begin content-bg -->
        <div class="content-bg">
            <img src="frontend/assets/img/client-bg.jpg" alt="Client" />
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <!--<div class="container" data-animation="true" data-animation-type="fadeInUp">-->
            <!--<h2 class="content-title">Our Client Testimonials</h2>-->
            <!--&lt;!&ndash; begin carousel &ndash;&gt;-->
            <!--<div class="carousel testimonials slide" data-ride="carousel" id="testimonials">-->
                <!--&lt;!&ndash; begin carousel-inner &ndash;&gt;-->
                <!--<div class="carousel-inner text-center">-->
                    <!--&lt;!&ndash; begin item &ndash;&gt;-->
                    <!--<div class="item active">-->
                        <!--<blockquote>-->
                            <!--<i class="fa fa-quote-left"></i>-->
                            <!--Prices may fluctuate so please check the charge provided when you are making a request.-->
                            <!--<i class="fa fa-quote-right"></i>-->
                        <!--</blockquote>-->
                        <!--<div class="name"> — <span class="text-theme">Mark Doe</span>, Designer</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end item &ndash;&gt;-->
                    <!--&lt;!&ndash; begin item &ndash;&gt;-->
                    <!--<div class="item">-->
                        <!--<blockquote>-->
                            <!--<i class="fa fa-quote-left"></i>-->
                            <!--Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.<br />-->
                            <!--Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.-->
                            <!--<i class="fa fa-quote-right"></i>-->
                        <!--</blockquote>-->
                        <!--<div class="name"> — <span class="text-theme">Joe Smith</span>, Developer</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end item &ndash;&gt;-->
                    <!--&lt;!&ndash; begin item &ndash;&gt;-->
                    <!--<div class="item">-->
                        <!--<blockquote>-->
                            <!--<i class="fa fa-quote-left"></i>-->
                            <!--Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />-->
                            <!--fringilla. In sollicitudin ac ligula eget vestibulum.-->
                            <!--<i class="fa fa-quote-right"></i>-->
                        <!--</blockquote>-->
                        <!--<div class="name"> — <span class="text-theme">Linda Adams</span>, Programmer</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; end carousel-inner &ndash;&gt;-->
                <!--&lt;!&ndash; begin carousel-indicators &ndash;&gt;-->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#testimonials" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#testimonials" data-slide-to="1" class=""></li>-->
                    <!--<li data-target="#testimonials" data-slide-to="2" class=""></li>-->
                <!--</ol>-->
                <!--&lt;!&ndash; end carousel-indicators &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; end carousel &ndash;&gt;-->
        <!--</div>-->
        <!-- end containter -->
    </div>
    <!-- end #client -->

    <!-- begin #pricing -->
    <div id="pricing" class="content" data-scrollview="true">
        <!-- begin container -->
        <div class="container">
            <h2 class="content-title">Our Price</h2>
            <p class="content-desc">
               Pricing As Per Different UserTypes:
            </p>
            <!-- begin pricing-table -->
            <ul class="pricing-table col-4">
                <li data-animation="true" data-animation-type="fadeInUp">
                    <div class="pricing-container">
                        <h3>INDIVIDUAL</h3>
                        <div class="price">
                            <div class="price-figure">
                                <span class="price-number">$5.00</span>
                                <span class="price-tenure">per request</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>For as little as $5.00 verify your records.</li>
                            <li>Find out if you are employing the right person.</li>

                        </ul>
                        <div class="footer">
                            <a href="#" class="btn btn-inverse btn-block">Pay Now</a>
                        </div>
                    </div>
                </li>
                <li data-animation="true" data-animation-type="fadeInUp">
                    <div class="pricing-container">
                        <h3>GOVERNMENT</h3>
                        <div class="price">
                            <div class="price-figure">
                                <span class="price-number">$10.00</span>
                                <span class="price-tenure">per request</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>For as little as $20 audit your employees.</li>
                            <li>Hire the right person</li>
                            <li>Avoid future legal issue</li>
                        </ul>
                        <div class="footer">
                            <a href="#" class="btn btn-inverse btn-block">Pay Now</a>
                        </div>
                    </div>
                </li>
                <li data-animation="true" data-animation-type="fadeInUp">
                    <div class="pricing-container">
                        <h3>PARASTATAL</h3>
                        <div class="price">
                            <div class="price-figure">
                                <span class="price-number">$15.00</span>
                                <span class="price-tenure">per request</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>For as little as $15 audit your employees.</li>
                            <li>Hire the right person</li>
                            <li>Avoid future legal issues</li>
                        </ul>
                        <div class="footer">
                            <a href="#" class="btn btn-inverse btn-block">Pay Now</a>
                        </div>
                    </div>
                </li>
                <li class="highlight" data-animation="true" data-animation-type="fadeInUp">
                    <div class="pricing-container">
                        <h3>PRIVATE</h3>
                        <div class="price">
                            <div class="price-figure">
                                <span class="price-number">$20.00</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>For as little as $20 audit your employees.</li>
                            <li>Hire the right person.</li>
                            <li>Avoid future legal issues.</li>        </ul>
                        <div class="footer">
                            <a href="#" class="btn btn-theme btn-block">Pay Now</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- end container -->
    </div>
    <!-- end #pricing -->

    <!-- begin #contact -->
    <div id="contact" class="content bg-silver-lighter" data-scrollview="true">
        <!-- begin container -->
        <div class="container">
            <h2 class="content-title">Contact Us</h2>
            <p class="content-desc">
                For compliments, complaints, or feedback kindly fill in this form.
            </p>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-6 -->
                <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                    <h3>If you have any issues you would like to discuss, get in touch with us.</h3>
                    <p>
                        Our Contact Details:
                    </p>
                    <p>
                        <strong>Address:</strong><br />
                        Conquenar House<br />
                        P.O Box 660<br />
                        256 Samora Machael Ave<br />
                        East Eastlea Harare<br/>
                        Zimbabwe
                    </p>
                    <p>
                        <span class="phone">phone: (+263) 4 746821</span><br />
                        <span class="phone">fax:   (+263) 4 746652</span><br />
                        <a href="mailto:info@everify.org.zw">info@everify.org.zw</a>
                    </p>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->
                <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9 text-left">
                                <button type="submit" class="btn btn-theme btn-block">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #contact -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        <div class="container">
            <!--<div class="footer-brand">-->
            <!--<div class="footer-brand-logo"></div>-->
            <!--E-Verify-->
            <!--</div>-->
            <p>
                &copy; Copyright E-Verify 2018 <br />
                E-Verify Online Web-Platiform Created by <a href="#">Lothmas</a>
            </p>
            <p class="social-list">
                <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
            </p>
        </div>
    </div>
    <!-- end #footer -->

    <!-- begin theme-panel -->

    <!-- end theme-panel -->
</div>
<!-- end #page-container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="frontend/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="frontend/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="frontend/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="frontend/assets/crossbrowserjs/html5shiv.js"></script>
<script src="frontend/assets/crossbrowserjs/respond.min.js"></script>
<script src="frontend/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="frontend/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="frontend/assets/plugins/scrollMonitor/scrollMonitor.js"></script>
<script src="frontend/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
