<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>E - Verify | Search-Add</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
	<link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.min.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body th:each="result: *{individualProfile}">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top" th:each="adminProfile: *{adminProfile}">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> E - Verify</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width" action="#" data-th-action="@{./login}" th:object="${login}"
							  method="post"
							  enctype="multipart/form-data">
							<select class="form-control" id="status" name="username" th:each="authoriseAccounts, iterateShares : ${userAuthorisedAccounts}">
								<option th:each="sharesFrom, iterateSharesFrom : ${authoriseAccounts.shareFrom}"
										th:value="${sharesFrom.username}"
										th:text="${sharesFrom.username}"
										th:selected="${sharesFrom.username.contains(sharesFrom.username)}"/>
							</select>

							<button name="action" value="switch_user" type="submit" class="btn btn-success btn-sm">switch
								user
							</button>

						</form>

					</li>

					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
							<li class="dropdown-header">Notifications (5)</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
									<div class="media-body">
										<h6 class="media-heading">Server Error Reports</h6>
										<div class="text-muted f-s-11">3 minutes ago</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt=""/>
									</div>
									<div class="media-body">
										<h6 class="media-heading">John Smith</h6>
										<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
										<div class="text-muted f-s-11">25 minutes ago</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt=""/>
									</div>
									<div class="media-body">
										<h6 class="media-heading">Olivia</h6>
										<p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
										<div class="text-muted f-s-11">35 minutes ago</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
									<div class="media-body">
										<h6 class="media-heading"> New User Registered</h6>
										<div class="text-muted f-s-11">1 hour ago</div>
									</div>
								</a>
							</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
									<div class="media-body">
										<h6 class="media-heading"> New Email From John</h6>
										<div class="text-muted f-s-11">2 hour ago</div>
									</div>
								</a>
							</li>
							<li class="dropdown-footer text-center">
								<a href="javascript:;">View more</a>
							</li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{'data:image/jpeg;base64,'+${adminPicture}}"
								 alt="no profile pic set"/>
							<span class="hidden-xs" th:text="${adminProfile.username}"/> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li th:if="${!result.username.equalsIgnoreCase(accountHolderUsername)}"><a th:href="@{/switch_to_master}">Switch To Main Account</a></li>
							<li th:if="${result.username.equalsIgnoreCase(accountHolderUsername)}"><a th:href="@{/edit_profile}">Edit Profile</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/logout}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar sidebar-transparent">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img th:src="@{'data:image/jpeg;base64,'+${picture}}"
														alt="no profile pic set"/></a>
						</div>
						<div class="info" th:text="${result.username}"/>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>

					<li><a href="extra_profile">
						<i class="fa fa-laptop"></i>
						<span>Profile</span>
					</a></li>

					<li th:if="${result.username.equalsIgnoreCase(accountHolderUsername)}"><a href="authorization">
						<i class="fa fa-share-square-o "></i>
						<span>Authorization</span>
					</a></li>

					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-th"></i>
							<span>Qualifications</span>
						</a>
						<ul class="sub-menu">
							<li><a th:href="@{qualifications_national(username=${result.username})}">National Transcripts</a></li>
							<li><a href="#">Interim Transcripts</a></li>
						</ul>
					</li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Extra</a></li>
				<li class="active">Search Results</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Search Results</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-12 -->
			    <div class="col-md-12">
			        <div class="result-container">
                        <form action="#" data-th-action="@{./search_add}"
                              method="post" enctype="multipart/form-data">
			            <div class="input-group m-b-20">
                            <input type="text" class="form-control input-white" name="searchText" id="idd" placeholder="Enter keywords here..." />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>

                        <ul class="result-list" th:each="foundAccounts: *{foundAccounts}" >
                            <li>
                                <div class="result-image">
                                    <a href="javascript:;"><img th:src="@{'data:image/jpeg;base64,'+${foundAccounts.picture}}"
                                                                alt="no profile pic set"/></a>
                                </div>
                                <div class="result-info">
                                    <h4 class="title"><a th:text="${foundAccounts.firstName +'  .  '+foundAccounts.surname}"></a></h4>
                                    <p class="location" th:text="${foundAccounts.countryOfResidence}"></p>
                                    <p class="desc" th:text="${foundAccounts.about}" >
                                    </p>
                                </div>
                                <div class="result-price" >
                                    <a th:text="${foundAccounts.username}"></a>
									<button type="submit" name="username" th:value="${foundAccounts.username}" class="btn btn-inverse btn-block" id="iddd">Authorize User
                                    </button>
                                </div>

                            </li>
                        </ul>
                        </form>
                    </div>
			    </div>
			    <!-- end col-12 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
