<!DOCTYPE html>
<!--[if IE 8]> <html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>E - Verify | Upload</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
	<link href="upload/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="upload/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="upload/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="upload/assets/css/animate.min.css" rel="stylesheet" />
	<link href="upload/assets/css/style.min.css" rel="stylesheet" />
	<link href="upload/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="upload/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="upload/assets/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="upload/assets/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="upload/assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="upload/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="no-skin" th:each="result: *{profile}">

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top" >
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index" class="navbar-brand">
						<span class="navbar-logo"></span> E - Verify
					</a>

					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width" action="#" data-th-action="@{./login}" th:object="${login}"
							  method="post"
							  enctype="multipart/form-data">
							<!--<select class="form-control" id="status" name="username" th:each="authoriseAccounts, iterateShares : ${userAuthorisedAccounts}">-->
							<!--<option th:each="sharesFrom, iterateSharesFrom : ${authoriseAccounts.shareFrom}"-->
							<!--th:value="${sharesFrom.username}"-->
							<!--th:text="${sharesFrom.username}"-->
							<!--th:selected="${sharesFrom.username.contains(sharesFrom.username)}"/>-->
							<!--</select>-->

							<!--<button name="action" value="switch_user" type="submit" class="btn btn-success btn-sm">switch-->
							<!--user-->
							<!--</button>-->

						</form>

					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
							<li class="dropdown-header">Notifications (1)</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
									<div class="media-body">
										<h6 class="media-heading">Verification For Moses Completed</h6>
										<div class="text-muted f-s-11">3 minutes ago</div>
									</div>
								</a>
							</li>

						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{'data:image/jpeg;base64,'+${result.picture}}"
								 alt="no profile pic set"/>
							<span class="hidden-xs" th:text="${result.username}"/> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<!--<li><a th:href="@{/edit_profile}">Edit Profile</a></li>-->
							<!--<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>-->
							<!--<li><a href="javascript:;">Calendar</a></li>-->
							<!--<li><a href="javascript:;">Setting</a></li>-->
							<li class="divider"></li>
							<li><a th:href="@{/logout}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar sidebar-transparent">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img th:src="@{'data:image/jpeg;base64,'+${result.picture}}" alt="no profile pic set" /></a>
						</div>
						<div class="info" th:text="${result.username}"/>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>

					<li><a th:href="@{/profile.html}">
						<i class="active fa fa-laptop"></i>
						<span>Profile</span>
					</a></li>

					<li >
						<a th:href="@{/verification}">
							<i class="fa fa-address-card"></i>
							<span>Verification</span>
						</a>
					</li>

					<li ><a th:href="@{/cart}">
						<i class="fa fa-share-square-o "></i>
						<span>Top-Up Account</span>
					</a></li>



					<li >
						<a th:href="@{/invoice}">
							<i class="fa fa-address-card"></i>
							<span>Invoice / History </span>
						</a>
					</li>


					<li >
						<a th:href="@{/upload}">
							<i class="fa fa-clock-o"></i>
							<span>Upload Qualifications </span>
						</a>
					</li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li class="active">Qualification / Institite Upload</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Qualification / Institute Upload <small>load qualification as a batch or per individual</small></h1>
			<!-- end page-header -->

			<div class="panel panel-inverse">
			    <div class="panel-heading">
			        <div class="panel-heading-btn">
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
			        </div>
			        <h4 class="panel-title">File Upload</h4>
			    </div>
			    <div class="panel-body">			
                    <blockquote class="f-s-14">
                        <p>E-Verify File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview.
                        Supports cross-domain, chunked and resumable file uploads.
                        </p>
                    </blockquote>
                    <form id="fileupload" action="#" data-th-action="@{./upload}" method="POST" enctype="multipart/form-data">

                        <div class="row fileupload-buttonbar">
                            <div class="col-md-7">
                                <span class="btn btn-success fileinput-button">
                                    <i class="fa fa-plus"></i>
                                    <span>Add files...</span>
                            		<input type="file" name="file"  multiple="true" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel ,xlsx , xls,ods" required="true" />

                                </span>
								 <button type="submit" class="btn btn-primary" >
									<i class="fa fa-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="fa fa-ban"></i>
                                    <span>Cancel upload</span>
                                </button>

                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-md-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                    <div class="note note-info">
                        <h4>Notes</h4>
                        <ul>
                            <li>The maximum file size for uploads is unlimited.</li>
                            <li>Only SpreadSheets files (<strong>csv , xls , xlsx, ods</strong>) are allowed </li>
                            <li>Uploaded files will be be validated before saved.</li>
                        </ul>
                    </div>
			    </div>
			</div>
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
		
		<!-- The blueimp Gallery widget -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">

        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td class="col-md-1">
                    <span class="preview"></span>
                </td>
                <td>
                    <p class="name">{%=file.name%}</p>
                    <strong class="error text-danger"></strong>
                </td>
                <td>
                    <p class="size">Processing...</p>
                    <div class="progress progress-striped active"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </td>
                <td>
                    <!--{% if (!i && !o.options.autoUpload) { %}-->
                        <!--<button class="btn btn-primary btn-sm start" disabled>-->
                            <!--<i class="fa fa-upload"></i>-->
                            <!--<span>Start</span>-->
                        <!--</button>-->
                    <!--{% } %}-->
                    <!--{% if (!i) { %}-->
                        <button class="btn btn-white btn-sm cancel">
                            <i class="fa fa-ban"></i>
                            <span>Cancel</span>
                        </button>
                    <!--{% } %}-->
                </td>
            </tr>
        {% } %}

    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">

        {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade">
                <td>
                    <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery="data-gallery"><img src="{%=file.thumbnailUrl%}"/></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" >
                            {%=file.thumbnailUrl?'data-gallery':''%}{%=file.name%}</a>
                        {% } else { %}
                            <span>{%=file.name%}</span>
                        {% } %}
                    </p>
                    {% if (file.error) { %}
                        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>

                        <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>

                </td>
            </tr>
        {% } %}

    </script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="upload/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="upload/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="upload/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="upload/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="upload/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="upload/assets/crossbrowserjs/respond.min.js"></script>
		<script src="upload/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="upload/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="upload/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="upload/assets/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="upload/assets/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
    <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="upload/assets/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
	<script src="upload/assets/js/form-multiple-upload.demo.min.js"></script>
	<script src="upload/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			FormMultipleUpload.init();
		});
	</script>
</body>
</html>
