<!DOCTYPE html>
<!--[if IE 8]> <html xmlns:th="http://www.thymeleaf.org" lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>E-Verify | Verification</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
	<link href="upload/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="upload/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="upload/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="upload/assets/css/animate.min.css" rel="stylesheet" />
	<link href="upload/assets/css/style.min.css" rel="stylesheet" />
	<link href="upload/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="upload/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="upload/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		#container {
			height: 100%;
			width: 100%;
			font-size: 0;
		}

		#left, #middle, #right {
			display: inline-block;
			*display: inline;
			zoom: 1;
			vertical-align: bottom;
			font-size: 12px;
		}

		#left {
			width: 25%;
			max-width: 100%;
			max-height: 100%;
		}

		#middle {
			width: 50%;
			border-right: 1px dotted black;
		}

		#right {
			width: 25%;
		}
	</style>
</head>
<body class="no-skin" th:each="result: *{profile}">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top" >
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index" class="navbar-brand">
						<span class="navbar-logo"></span> E - Verify
						<!--<span class="logo-icon"><i><img src="frontend/upload/assets/img/everify-transparent2.png"/></i></span>-->

					</a>

					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form full-width" action="#" data-th-action="@{./login}" th:object="${login}"
							  method="post"
							  enctype="multipart/form-data">
							<!--<select class="form-control" id="status" name="username" th:each="authoriseAccounts, iterateShares : ${userAuthorisedAccounts}">-->
							<!--<option th:each="sharesFrom, iterateSharesFrom : ${authoriseAccounts.shareFrom}"-->
							<!--th:value="${sharesFrom.username}"-->
							<!--th:text="${sharesFrom.username}"-->
							<!--th:selected="${sharesFrom.username.contains(sharesFrom.username)}"/>-->
							<!--</select>-->

							<!--<button name="action" value="switch_user" type="submit" class="btn btn-success btn-sm">switch-->
							<!--user-->
							<!--</button>-->

						</form>

					</li>
					<li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
							<i class="fa fa-bell-o"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
							<li class="dropdown-header">Notifications (1)</li>
							<li class="media">
								<a href="javascript:;">
									<div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
									<div class="media-body">
										<h6 class="media-heading">Verification For Moses Completed</h6>
										<div class="text-muted f-s-11">3 minutes ago</div>
									</div>
								</a>
							</li>
							<li class="dropdown-footer text-center">
								<a href="javascript:;">View more</a>
							</li>
						</ul>
					</li>
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<img th:src="@{'data:image/jpeg;base64,'+${result.picture}}"
								 alt="no profile pic set"/>
							<span class="hidden-xs" th:text="${result.username}"/> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<!--<li><a th:href="@{/edit_profile}">Edit Profile</a></li>-->
							<!--<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>-->
							<!--<li><a href="javascript:;">Calendar</a></li>-->
							<!--<li><a href="javascript:;">Setting</a></li>-->
							<li class="divider"></li>
							<li><a th:href="@{/logout}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div th:include="fragments :: navigation" />

		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="profile">Home</a></li>
				<li class="active">Verification</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header"><span  class="badge badge-pill badge-light">Verification | Authentication </span><small></small></h1>
			<!-- end page-header -->

			<!-- begin row -->
			<div  th:include="fragments :: headerTabs" />

			<div class="row" >
				<form class="navbar-form full-width" action="#" data-th-action="@{./getInstitutions}"
					  method="post"	enctype="multipart/form-data">
			    <!-- begin col-12 -->


					<div class="col-md-12">
						<div>
							<label th:if="${option==1}" class="btn   active" >
								<input checked="checked" value="1" type="radio"   name="option" onclick='this.form.submit()'/>
								<!--<a><h5>National Qualifications</h5></a>-->
								<img src="/assets/img/national.png"/>
							</label>
							<label th:if="${option==2}" class="btn " >
								<input  value="1" type="radio"   name="option" onclick='this.form.submit()'/>
								<img src="/assets/img/national.png"/>


							</label>

							<label th:if="${option==1}" class="btn ">
								<input  type="radio" name="option" value="2" onclick='this.form.submit()'/>
								<img src="/assets/img/national1.png"/>

							</label>
							<label th:if="${option==2}" class="btn  active">
								<input checked="checked" type="radio" name="option" value="2" onclick='this.form.submit()'/>
								<img src="/assets/img/national1.png"/>
							</label>

							<noscript><input type="submit" value="Submit"/></noscript>
							<p></p>
							<p></p>
							<p></p>
						</div>

						<div class="dropdown pull-left" >
							<a th:if="${null==option || option==1}">
								<!--<form  action="#" data-th-action="@{./getInstitutions}"-->
									  <!--method="post"	enctype="multipart/form-data">-->
										<select class="form-control input-white" name="countryId" onchange='this.form.submit()'>
										<option selected="true" th:disabled="true">
											<div th:if="${selectedCountryName==NULL}">
												<div>Select Country</div>
											</div>
											<!-- ELSE -->
											<div th:if="${selectedCountryName!=NULL}">
												<span th:utext="${selectedCountryName}"></span>
											</div>

										</option>
									<optgroup th:each="countries, iterateShares : ${countries}"
											  th:label="${countries.continent}">
										<option style="font-weight: bold;"
												th:value="${countries.countryId+','+countries.countryName}"
												th:text="${#strings.capitalize(countries.countryName)}"></option>

									</optgroup>
								</select>
									<noscript><input type="submit" value="Submit"/></noscript>

															</a>


						</div>
						<div class="pull-left" >
							<a >

									<select  class="form-control input-white" title="Always Select Country First" th:disabled="${searchButton}" name="instituteId">
									<option selected="true" th:disabled="true">Select Institute</option>
									<option th:each="institutes, iterateShares : ${institutes}"
											th:value="${institutes.id}"
											th:text="${institutes.name}"/>
								</select>
							</a>
						</div>

					<div class="input-group m-b-20 pull-right">
						<input title="Always Select Country &amp; Institute First" th:disabled="${searchButton}"  style="font-weight: bold;text-transform:uppercase;" type="text" class="form-control input-white" placeholder="Enter Candidate Number..." name="candidateId" required="true"/>


						<div class="input-group-btn" >
							<button   type="button" class="btn btn-inverse" data-toggle="modal" data-target="#myModal"><i class="fa fa-search tooltip-wrapper" title="Always Select Country &amp; Institute First" th:disabled="${searchButton}"></i> Verify</button>
						</div>



						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Notification Please Note:</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div  th:if="${result.userType}=='1'" class="modal-body">
											<p>USD 5.00 will be reducted from your account on every new request you make. Thou NO charges are made for a previous request less than 30 days old OR has not been verified.</p>
										</div>
										<div  th:if="${result.userType}=='2'" class="modal-body">
											<p>USD 10.00 will be reducted from your account on every new request you make. Thou NO charges are made for a previous request less than 30 days old OR has not been verified.</p>
										</div>
										<div  th:if="${result.userType}=='3'" class="modal-body">
											<p>USD 15.00 will be reducted from your account on every new request you make. Thou NO charges are made for a previous request less than 30 days old OR has not been verified.</p>
										</div>
										<div  th:if="${result.userType}=='4'" class="modal-body">
											<p>USD 20.00 will be reducted from your account on every new request you make. Thou NO charges are made for a previous request less than 30 days old OR has not been verified.</p>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button onclick='this.form.submit()' name="action" value="1" type="button" class="btn btn-primary">Continue</button>
										<noscript><input type="submit" value="Submit"/></noscript>
									</div>
								</div>
							</div>
						</div>


					</div>

						<ul class="result-list" >
							<li th:each="verificationResults, iterateShares : ${verifiedCandidate}">
								<div class="result-image">
									<a href="javascript:;">
										<img th:src="@{'data:image/jpeg;base64,'+${selectedInstitute.picture}}"
											 alt="no profile pic set"/>
									</a>
								</div>
								<div class="result-info">
									<h4 class="title" th:text="${'Institute: '+selectedInstitute.name}"></h4>
									<h6 th:if="${!verificationResults.program.isEmpty()}" th:text="${'Program: '+verificationResults.program}"></h6>
									<h5 th:if="${ option==1 &amp;&amp; !selectedCountry.countryName.isEmpty() }">Country:<p class="location"  th:text="${' '+selectedCountry.countryName}"></p></h5>
									<h5 th:if="${!verificationResults.candidateNumber.isEmpty()}">Candidate Number:<p class="location"   th:text="${' '+verificationResults.candidateNumber}"></p></h5>
									<h5 th:if="${!verificationResults.certificateNumber.isEmpty()}">Certificate Number:<p class="location"   th:text="${' '+verificationResults.certificateNumber}"></p></h5>
									<h5 th:if="${verificationResults.dateAwarded!=null}">Awarding Date:<p class="location"  th:text="${' '+verificationResults.dateAwarded}"></p></h5>
									<h5 th:if="${!verificationResults.firstName.isEmpty()}">Name:<p class="location"  th:text="${''+'   '+verificationResults.firstName}"></p></h5>
									<h5 th:if="${!verificationResults.surname.isEmpty()}">Surname:<p class="location"  th:text="${'       '+verificationResults.surname}"></p></h5>
									<!--<p class="desc">-->
										<!--Nunc et ornare ligula. Aenean commodo lectus turpis, eu laoreet risus lobortis quis. Suspendisse vehicula mollis magna vel aliquet. Donec ac tempor neque, convallis euismod mauris. Integer dictum dictum ipsum quis viverra.-->
									<!--</p>-->

								</div>
								<div class="result-price" >
									<div class="text-success pull-right" th:if="${authenticationStatus==('1')}" >
										<div ><h4>QUALIFICATION IS AUTHENTIC</h4>
										<div><span class="glyphicon glyphicon-saved" style="font-size:90px;"></span>
										<small></small></div>
										</div>
									</div>
									<div class="text-danger" th:if="${authenticationStatus==('2')}">
										<div><h4> QUALIFICATION NOT AUTHENTIC</h4>
										<div><span class="glyphicon glyphicon-remove" style="font-size:90px;"></span>
										<small></small></div>
										</div>
									</div>
									<div class="text-warning" th:if="${authenticationStatus==('3')}" >
										<div><h4>REQUEST LOGGED</h4></div>
										<span class="glyphicon glyphicon-time" style="font-size:90px;"></span>
										<small th:text="${'Initial Request Date: '+initialRequestDate}"></small>
									</div>
									<div class="text-warning" th:if="${authenticationStatus==('4')}" >
										<div><h4>REQUEST WAS LOGGED SUCESSFULLY  &amp; WAITING ASSESSMENT</h4></div>
										<span class="glyphicon glyphicon-time" style="font-size:90px;"></span>
										<small th:text="${'Initial Request Date: '+initialRequestDate}"></small>
									</div>
									<!--<div class="text-success" th:if="${authenticationStatus==('3')}">-->
										<!--<h4>QUALIFICATION IS AUTHENTIC</h4>-->
										<!--<span class="glyphicon glyphicon-saved"></span>-->
										<!--<small></small>-->
									<!--</div>-->
									<!--<a title="Feature Coming Soon Not Yet Available" th:disabled="true" class="btn btn-inverse btn-block">View Transcript</a>-->
								</div>


							</li>
							<li>


							</li>
						</ul>
						<div th:if="${errorMessage!=null}"  class="alert alert-info alert-dismissible fade in">
							<strong class="text-center" th:text="${'Warning!!  '+errorMessage +'  ['+ selectedCountryName+']'}"></strong>
						</div>

			    </div>
			    <!-- end col-12 -->
				</form>
			</div>

			<!-- end row -->
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->

        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="upload/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="upload/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="upload/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="upload/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="upload/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="upload/assets/crossbrowserjs/respond.min.js"></script>
		<script src="upload/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="upload/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="upload/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="upload/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	<script type="text/javascript">
        $("#city").remoteChained({
            parents: "#state",
            url: "[[@{/getStateCityValues}]]"
        });
	</script>
<!--<script>-->
    <!--$('#location').change(-->
        <!--function() {-->
            <!--$.getJSON("http://localhost:8090/iqa/getInstitutions", {-->
                <!--cityId : $(this).val(),-->
                <!--ajax : 'true'-->
            <!--}, function(data) {-->
                <!--var html = '<option value="">&#45;&#45;alege agentia&#45;&#45;</option>';-->
                <!--var len = data.length;-->
                <!--for ( var i = 0; i < len; i++) {-->
                    <!--html += '<option value="' + data[i].nume + '">'-->
                        <!--+ data[i].nume + '</option>';-->
                <!--}-->
                <!--html += '</option>';-->
                <!--$('#institutions').html(html);-->
            <!--});-->
        <!--});-->
<!--</script>-->
</body>
</html>
